/* Getting the new tags to behave */

/* Global properties ======================================================== */
body { 
	background:#fff; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	line-height:1em;
	color:#454545;
}
html { 
	min-width:940px;
}
html, 
body { 
	height:100%;
}



/* Global Structure ============================================================= */
.container {
	margin:0 auto;
	width:940px;
	overflow:hidden;
	font-size:.875em;
	padding-bottom:176px;
}
.container.test1{
	height: 800px;
}
.container.test2{
	height: 1100px;
}

	/* Header */
	header {
		background:url(../images/header-bg.jpg) no-repeat center top;
		min-width:940px;
	}
		header .container {
			height:194px;
			position:relative;
			padding:0;
		}
	
	/* Content */
	section#content {
		float:left;
		width:691px;
	}

/* Footer */
	footer {
		background:url(../images/footer-bg.png) no-repeat center top;
		margin-top:-121px;
		min-width:940px;
	}
		footer .container {
			height:121px;
			padding:0;
		}


/* Left & Right alignment */

.ID-name{
	margin-left: 10px;
	margin-top: 10px;
}
.userInfor{
	margin-top: 50px;
}	

.wrapper { 
	width:100%;
	overflow:hidden;
}
.wrap {
	height:auto !important;
	height:100%;
	min-height:100%;
	background:url(../images/tail-middle.jpg) repeat-y center 194px;
	min-width:940px;
}

/*----- form defaults -----*/
input, 
select, 
textarea { 
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
}

fieldset {
	border:0;
}

/*----- lists -----*/
.testList {
}		
	.testList li {
		width:80%;
		line-height:1.2em;
		margin:9px;
		padding: 5px;
		border: solid;
	}

.ques{
	line-height:2em;
	margin: 5px;
}

button {
	background:#ffffff;
	color:#008cc4;
	border-radius: 25px;
	width:200px;
	height:30px;
	font-size:15px;
}
button:hover {
	color:#ff7b01;
}
.button-wrap{
	padding:15px;

}
pre{
	margin-left: 20px;
}

/* 弹窗 (background) */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; /* 固定定位 */
    z-index: 1; /* 设置在顶层 */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
 
/* 弹窗内容 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}
 
/* 关闭按钮 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
 
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/*----- other -----*/
p {
	margin-bottom:16px;
	line-height:1.429em;
}
.p0 {
	margin:0;
}

#progress{
	margin: 5px;
	width: 200px;
	height: 100%;
	background-color: cornflowerblue;
	border: solid;
}
input{
	margin:8px;
}



/*----- txt, links, lines, titles -----*/
a {
	color:#ff7b01; 
	outline:none;
}
a:hover {
	text-decoration:none;
}

h1 {
	text-indent:-9999px;
}
	h1 a {
			width:500px;
			height:100px;
			position:absolute;
			left:0;
			top:80px;
			background:url(../images/logo.jpg) no-repeat left top;
		}
h2 {
	font-size:24px;
	line-height:1.2em;
	text-transform:uppercase;
	margin-bottom:10px;
	margin-top: 10px;
}
h3 {
	font-size:20px;
	line-height:1.2em;
	text-transform:uppercase;
	margin-bottom:15px;
}
h4 {
	font-size:1em;
	color:#008cc4;
	margin-bottom:5px;
}
	h4 a {
		color:#008cc4;
		text-decoration:none;
	}
	h4 a:hover {
		color:#ff7b01;
	}
h5{
	font-size:1em;
	margin:5px;
}

.link {
	position:absolute;
	right:0;
	top:159px;
}


/*===== header =====*/
header .nav-bg {
	background:url(../images/nav-bg.png) no-repeat center top;
}
header nav {
	position:absolute;
	left:0;
	top:3px;
}
	header nav ul li {
		float:left;
		font-size:16px;
		line-height:1.2em;
		text-transform:uppercase;
		padding-right:1px;
		background:url(../images/divider.gif) repeat-y right top;
	}
	header nav ul li.last {
		background:none;
		padding:0;
	}
		header nav ul li a {
			color:#454545;
			text-decoration:none;
			display:block;
			float:left;
			text-align:center;
			padding:18px 0 20px 0;
			background-repeat:no-repeat;
			background-position:left top;
		}
		header nav ul li.current a,
		header nav ul li a:hover {
			color:#008cc4;
		}
		header nav ul li a.m1 {
			width:186px;
		}
		header nav ul li.current a.m1 {
			background-image:url(../images/m1-act.jpg);
		}
		header nav ul li a.m2 {
			width:179px;
		}
		header nav ul li.current a.m2 {
			background-image:url(../images/m2-act.jpg);
		}
		header nav ul li a.m3 {
			width:208px;
		}
		header nav ul li.current a.m3 {
			background-image:url(../images/m3-act.jpg);
		}
		header nav ul li a.m4 {
			width:196px;
		}
		header nav ul li.current a.m4 {
			background-image:url(../images/m4-act.jpg);
		}
		header nav ul li.last {
   			background:none;
   			padding:0;
 	 	}
   		header nav ul li a.m5 {
   		 width:167px;
   		}
   		header nav ul li.current a.m5 {
    		background-image:url(../images/m5-act.jpg);
   		}
		header nav ul li.last {
			background:none;
			padding:0;
		}


/*===== footer =====*/
footer .fleft {
	font-size:20px;
	line-height:1.2em;
	text-transform:uppercase;
	padding:32px 0 0 0;
	display: inline-block;
}
footer .fleft span {
	display:block;
	font-size:20px;
	line-height:1.2em;
	color:#008cc4;
	margin-top:-4px;
}
footer .aligncenter {
	padding-top:39px;
	line-height:1.429em;
	padding-left: 200px;
	display: inline-block;
	text-align: center;
}


/*==========================================*/
    
